@model EmpleadosModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear contacto
    </div>
    <div class="card-body">


        <form asp-action= "Guardar" asp-controller="Empleado" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Empleado</label>
                <input asp-for="NombreEmpleado" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label  for="exampleInputPassword1" class="form-label">Cargo</label>
                <input asp-for ="Cargo" type="Text" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="Cargo" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Listar" asp-controller="Empleado" class="btn-warning"/>Volver a la lista</a>
        </form>
    </div>
</div>